@import url('https://fonts.googleapis.com/css2?family=Inter:italopszwght@014..32100..900;114..32100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Inter', sans-serif;
    --color-bkgrd: 0 0 0; /*black*/
    --color-content: 212 212 212; /*accent-1 neutral-300*/ 
    --color-cyaniii: 103 232 249; /*accent-2 cyan-300*/
    --color-cyanix: 22 78 99; /*accent-3 cyan-900*/
    --color-neutralix: 23 23 23; /*accent-4 neutral-900*/
    --color-neutralv: 115 115 115; /*accent-5 neutral-500*/
    --color-neutraliv: 163 163 163; /*accent-6 neutral-400*/
    --color-cyani: 207 250 254 ; /*accent-7 cyan-100*/
    --color-cyaniv: 34 211 238 ; /*accent-8 cyan-400*/
    --color-neutralviii: 38 38 38; /*accent-9 neutral-800*/
  }
  :root[data-theme='light'] {
    --color-bkgrd: 255 255 255; /*white*/
    --color-content: 23 23 23; /*accent-1 neutral-900*/ 
    --color-cyaniii: 6 182 212; /*accent-2 cyan-500*/
    --color-cyanix: 207 250 254; /*accent-3 cyan-100*/
    --color-neutralix: 245 245 245; /*accent-4 neutral-100*/
    --color-neutralv: 115 115 115; /*accent-5 neutral-500*/
    --color-neutraliv: 82 82 82; /*accent-6 neutral-600*/
    --color-cyani: 8 145 178; /*accent-7 cyan-600*/
    --color-cyaniv: 14 116 144; /*accent-8 cyan-700*/
    --color-neutralviii: 229 229 229; /*accent-9 neutral-200*/
    --color-purplelight: 119 59 236; /*accent-9 neutral-200*/
    --color-purpledark: 82 69 229; /*accent-9 neutral-200*/
  }
}